@import "tailwindcss";

/* 1. Define the width of the scrollbar area */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Keeps the scrollbar very thin and unobtrusive */
}

/* 2. Style the 'Thumb' (the part you click and drag) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); 
  
  /* Smooths out the edges of the thumb */
  border-radius: 10px;
}